.footer {
    padding: 0 0 100px 0;
    border-top: 1px solid #ddd;

    .container {
        width: 60%;

        .footer-top {
            display: flex;
            justify-content: space-between;

            .footer-link {
                display: inline-flex;
                align-items: center;

                a {
                    padding: 10px 10px 10px 0;
                    margin: 0 20px 0 0;
                    display: inline-flex;
                    letter-spacing: -0.1em;
                    font-size: 14px;

                    &:nth-child(n+2) { /* 2번째부터 전부 적용 */
                        padding: 15px;
                    }
                    
                    &:nth-child(4) { /* 2번째부터 전부 적용 */
                        font-weight: 600;
                    }
                }
            }

            .sns-links {
            
                a {
                    padding: 10px 7px;
                    display: inline-flex;
                    letter-spacing: -0.1em;
                }
            }
    
        }
    }
    
        .footer-bottom {
            padding: 15px 0 0;
            display: flex;
            justify-content: space-between;
            border-top: 2px solid #eee;
            font-size: 14px;

            .container {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .information {

                    .detail-info {
                        display: flex;
                        align-items: center;
    
                        .left {
                            margin: 8px 0;
                            padding: 0 10px 0 0;
    
                        }
                    }
                    
                    .right {
                        position: relative;
                        margin: 8px 0;
                        padding: 0 10px;
    
                        &::before {
                            position: absolute;
                            top: 4px;
                            left: 0;
                            width: 1px;
                            height: 10px;
                            background-color: #ddd;
                            content: '';
                        }
                    }
    
                    .copyright {
                        margin: 10px 0 0;
                        letter-spacing: 0.1em;
                        font-weight: 300;
                        text-transform: uppercase;

                        b {
                            font-weight: 600;
                        }
                    }
                }

                .web-mark {
                    display: flex;
                    align-items: center;

                    img {
                        width: 80%;
                        padding: 15px;
                        height: auto;
                    }
                }
            }
        }

    

}


